@media only screen and (max-device-width: 768px), screen and (max-width: 768px) {
    body > header, body > header menu {
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
    }

    .content {
        width: 280px;
    }

    .header-content {
        position: static;
    }

    .main-content {
        width: 100%;
    }

    .content.main-content {
        width: 280px;
    }

    #search-form,
    .user-panel,
    .user-info,
    .smartphone-icon,
    .phone,
    body > header menu ul li:nth-of-type(1),
    body > header menu ul li:nth-of-type(2),
    body > header menu ul li:nth-of-type(3) {
        display: none;
    }

    /* Categories */
    .header-content .categories > li {
        padding: 0;
        width: 36px;
        height: 38px;
    }

    .header-content .categories {
        margin: 0;
        margin-left: auto;
        position: static;
    }

    .header-content .categories > li:before {
        width: 36px;
        height: 38px;
        background: url("../../images/header/categories.png") no-repeat;
        margin-right: 0;
    }

    .header-content .categories > li:before {
        position: absolute;
    }

    .header-content .categories .submenu ul {
        position: static;
    }

    .header-content .categories li > ul {
        width: 100%;
        margin-top: 0;
        border: none;
        top: 120px;
        font-size: 26px;
        line-height: 39px;
    }

    .header-content .categories .submenu-2 li {
        font-size: 18px;
        line-height: 30px;
    }

    .header-content .categories li:hover > ul {
        display: none;
    }

    .header-content .categories .main-list-item:hover {
        box-shadow: none;
        background-color: transparent;
    }

    .header-content .categories .submenu-1 {
        background-color: #e1d9cf;
    }

    .header-content .categories .submenu-2 {
        background-color: #2c3e50;
    }

    .header-content .categories .submenu-2  li,
    .header-content .categories .submenu-2  a {
        color: #fff;
    }

    .header-content .categories > li .submenu-1 > li:hover {
        background-color: #2c3e50;
        color: #fff;
    }
    /* /Categories */

    .logo {
        margin: 20px 0;
    }

    .footer-content {
        flex-flow: column-reverse;
        align-items: center;
        margin-bottom: 10px;
    }

    .info {
        flex-flow: column;
    }

    .info > div {
        margin-left: 0;
        text-align: center;
        margin-bottom: 20px;
    }

    .info .support {
        position: static;
        text-align: left;
    }

    .socials-logo-form {
        margin-bottom: 30px;
    }

    .copyright {
        position: static;
    }

    .subscribe-form [type="email"] {
        width: 157px;
    }

    .social-icons {
        width: 100%;
    }

    .info h4 {
        margin-bottom: 10px;
    }

    .modal {
        width: 280px;
        box-sizing: border-box;
    }

    .modal .close {
        top: -5px;
        right: 5px;
    }

    .hide-in-mobile {
        display: none;
    }

    .questions .content {
        width: 100%;
        flex-flow: column;
    }

    .questions .caption {
        width: 280px;
        padding: 0;
        border: none;
        border-bottom: 1px solid #2c3e50;
        margin: 0 auto 15px;
        padding-bottom: 15px;
    }

    .questions .write-to-us-wrapper {
        margin: auto;
        width: 280px;
    }

    .questions .write-to-us-btn {
        width: 100%;
    }

    .comments-wrapper footer {
        justify-content: center;
    }

    .comments-wrapper header {
        font-size: 12px;
    }

    .comments-wrapper header .count-positive-wrapper, .comments-wrapper header .count-negative-wrapper {
        margin-right: 10px;
        text-align: center;
    }

    .comments-wrapper header .positive-percent-wrapper {
        text-align: center;
        margin-top: auto;
    }

    .page-numbers a {
        padding: 2px 8px;
    }

    .pages {
        justify-content: center;
    }

    .pages .prev {
        margin-left: 0;
    }
}
