body > footer {
    width: 100%;
    background-color: #2c3e50;
    border: 1px solid transparent;
    box-sizing: border-box;
}

footer .logo {
    background-image: url("../../images/footer/logo.png");
}

.footer-content {
    margin: 45px auto;
    display: flex;
    position: relative;
}

.footer-content .logo {
    margin-bottom: 33px;
}

.info a:hover {
    color: #ec644b;
}

.subscribe {
    width: 221px;
}

.subscribe p {
    color: #f5f5f5;
    font: 400 12px / 18px "OpenSans-Light";
}

.subscribe-form {
    margin: 19px 0;
}

.subscribe-form [type="email"] {
    box-sizing: border-box;
    width: 223px;
    padding: 11px 17px;
    font: 400 12px / 18px "OpenSans-Light";
    border: none;
}

.subscribe-form [type="submit"] {
    padding: 11px 18px;
    text-transform: uppercase;
    color: #ffffff;
    font: 400 12px / 18px "OpenSans-Light";
    background-color: #ec644b;
    border: none;
    margin-left: -4px;
}

.social-icons {
    width: 340px;
    display: flex;
    justify-content: space-between;
}

.social-icons a {
    width: 40px;
    height: 40px;
    background-color: white;
    color: #2c3e50;
    font-size: 25px;
    display: flex;
    text-decoration: none;
}

.social-icons a:hover {
    background-color: #ec644b;
}

.social-icons a i {
    margin: auto;
}

.info {
    display: flex;
}

.info > div {
    margin-left: 60px;
}

.info h4 {
    color: #faf7f3;
    font: 700 14px "OpenSans-Bold";
    text-transform: uppercase;
    margin-bottom: 24px;
}

.info a {
    font: 400 12px / 24px "OpenSans-Light";
    text-decoration: none;
    color: #faf7f3;
}

.support {
    position: absolute;
    top: 0;
    right: 0;
}

.support h4 {
    font: 400 14px "OpenSans-Light";
}

.support > div {
    display: flex;
    align-items: center;
    color: #faf7f3;
    font: 400 12px "OpenSans-Light";
    margin-bottom: 12px;
}

.support img {
    margin-right: 8px;
}

.copyright {
    text-transform: uppercase;
    position: absolute;
    right: 0;
    bottom: 0;
    color: #faf7f3;
    font: 400 12px / 24px "OpenSans-Regular";
}